{% extends 'core/base.html' %}

{% load static%}
{% block css_additional %} <link rel="stylesheet" href="{% static 'blog/css/blog.css'%}"> {% endblock %}


{% block title %}{{article.title}} {% endblock %}

{% block content %}
    <div class="col-md-12 mt-3 bg-body-tertiary">
        <h1 class = "text-center" >{{article.title}}</h1>
    </div>
    <div class="col-md-5 bg-body-tertiary mt-5 article-description">
            <h5>Описание статьи:</h5>
            <h5>{{article.content_preview}}</h5>
            <h5>Дата публикации: {{article.created_at}}</h5>
            <h5>Дата обновления: {{article.created_at}}</h5>
            <h5>Теги: {% for tag in article.tags.all %}
                <a href='#'>#{{tag.name}}</a> 
                {% endfor %}</h5>
            <h5>Категория: <a href='#'>{{article.category.name}}</a></h5>
    </div>
    {% comment %} <div class="col-md-1 mt-5 separator">
        <h1> </h1>
    </div> {% endcomment %}
    <div class="col-md-7 bg-body-tertiary mt-5 article_content">
        <p>{{ article.content }}</p>
    </div>   
    {% comment %} <p>Дата публикации: {{article.created_at}}</p>
    <p>Дата обновления: {{article.updated_at}}</p>
    <p>Теги: {% for tag in article.tags.all %}
        <a href='#'>#{{tag.name}}</a> 
        {% endfor %}
    </p>
    <p>Категория: <a href='#'>{{article.category.name}}</a></p>

    <p>{{article.content}}</p>

    <h3>Добавить коментарий</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Додати коментар">
    </form> {% endcomment %}

    <h3>Коментарии</h3>
    <hr>
    {% for comment in article.comments.all %}
        <p>{{comment.content}}</p>
        <p><strong>Имя:</strong> {{comment.name}}</p>
        <p><strong>Дата публикации:</strong> {{comment.created_at}}</p>
        <hr>
    {% empty %}
        <p>Коментариев нету</p>
    {% endfor %}

{% endblock %}
