{% extends 'core/base.html'%}

{% block title %} {{title}} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 mt-5 bg-body-tertiary">
            <h1 class="text-center">{{title}}</h1>
            <p class="text-center"> Всего статей: {{articles|length}}</p>
            
        </div>
    <div class="row row-cols-3 g-4 justify-content-center">
 
    {% for article in articles %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{article.picture}}" width="250" height="350" class="card-img-top" alt="Не загрузилось ((">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{article.title}}</h5>
                    <div class="continue">
                        <button type="button" class="btn btn-outline-primary">Прочитать</button>
                    </div>
                </div>
                <p class="card-text text-truncate">{{article.text}}</p>
            </div>
            <div class="card-footer pb-3">
                <small class="text-muted">Дата: {{article.created_at}}</small>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}



